{% extends 'base.html.twig' %}

{% block title %}Les Programmes{% endblock %}

{% block body %}
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light border border-1 rounded-3 position-relative">
            <div class="container-fluid py-5">
                <h1 class="fw-bold">Les programmes</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Programmes</li>
                    </ol>
                </nav>
            </div>
            <a class="btn btn-outline-dark m-1 position-absolute top-0 start-0" href="{{ path('category_index') }}">Les
                catégories</a>
        </div>
        <div class="container my-5 px-4">
            <div id="items-container" class="row d-flex justify-content-md-center g-0"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            try {
                const url = new URL('https://imdb-api.com/fr/API/MostPopularMovies/pk_0fxfa9gd6k4dplggk')
                const response = await fetch(url.toString())
                if (response.ok) {
                    const json = await response.text()
                    const items = JSON.parse(json).items
                    const itemsContainer = document.getElementById('items-container')
                    items.forEach((item) => {
                        let cardContainer = document.createElement('div')
                        cardContainer.setAttribute('class', 'card m-1 col-md-5')

                        cardContainer.innerHTML = '' +
                            '<div class="row g-0">' +
                            '<div class="col-md-4">' +
                            '<img class="img-fluid rounded-start" src="' + item['image'] + '" alt="Affiche du film">' +
                            '</div>' +
                            '<div class="col-md-8">' +
                            '<div class="card-body">' +
                            '<h4 class="card-title">' + item['title'] + '</h4>' +
                            '<p class="card-text">' + item['year'] + '</p>' +
                            '<p class="card-text">' + item['crew'] + '</p>' +
                            '</div> ' +
                            '</div>' +
                            '</div>'

                        itemsContainer.append(cardContainer)
                    })
                }
            } catch (error) {
                console.log(error)
            }
        })

    </script>
{% endblock %}

